.contentMain{
    max-width: 70rem;
    width: 90%;
    margin: 1rem auto 2rem auto;
    padding: 0 2rem;
    height: auto;

}

.postArticle{
    max-width:57.5rem;
    margin: 3rem auto 0;
    
    h1{
        text-align: center;
        margin: 1rem auto;
        font-size: 3.5rem;
        font-weight: 900;
    }
    time{
        font-size: 1rem;
        display: flex;
        align-items: center;
        color: var(--gray-300);
        margin: 0.5rem 0;
    }
    time.firstChildContentIsParagraph{
        margin: 1.5rem;
    }

    div.post{

        h2:first-child{//subtitulo
            font-size: 2rem;
            text-align: justify;
            line-height: 2.2rem;
            margin-bottom: 0.5rem;
            font-weight: 700;
        }
        h2{//considerar como h3
            font-size: 1.5rem;
            line-height: 2rem;
            font-weight: 500;

        }
        pre{//código
            display: block;
            padding: 1rem;
            background-color: var(--gray-pre);
            overflow: auto;
            color: var(--white);

            padding: 1rem;
            margin: 1rem auto;

            &::-webkit-scrollbar{
                width: 6px;
                height: 6px;
            }
            &::-webkit-scrollbar-thumb {
                background-color: var(--yellow-500);
                border-radius: 35px;
            }
            &::-webkit-scrollbar-track {
                background-color: transparent;
            }
            &::-webkit-scrollbar-track-piece {
                background-color: var(--gray-100);
            }
        }
        p, ul, ol{
            margin: 1.5rem;
        }
        p{
            font-size: 1rem;
            font-weight: 200;
            text-align: justify;
        }
        ul, ol{
            display: block;
            padding-left: 1.5rem;

            li{
                list-style: circle;
                margin: 0.5rem 0;

            }
        }
        a{
            color: var(--yellow-500);
            transition: all 0.2s;
            &:hover{
                filter: brightness(0.8);
            }
        }

        &.previewContent{
            background: linear-gradient(var(--gray-100), transparent);
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

}

.continueReading{
    padding: 2rem;
    text-align: center;
    background-color: var(--gray-850);
    border-radius:100px;
    font-size: 1.25rem;
    font-weight: bold;
    margin: 4rem auto 2rem;
    max-width: 57.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    z-index: 1;

    &:hover{
        background-color: var(--gray-700);
    }

    &::after{
        content: "";
        background-color: var(--gray-700);
        position: absolute;
        z-index: -1;
        padding: 0.85em 0.75em;
        display: block;
    }
    &:hover::after{
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        transition: all 0.4s;
    }

    a{
        color: var(--yellow-500);
        margin-left: 0.5rem;
        display: flex;
        align-items: center;

        img{
            width: 3rem;
            margin-left: 0.3rem;
        }
    }
}
.animationButton::after {
    top: 0;
    bottom: 0;
    left: -100%;
    right: 100%;
}


@media(max-width: 1400px) {
    .postArticle {
        height: 100%;
        max-width: 720px;
    }
}